In [1]:
import numpy as np
import pandas as pd
from scipy.io import loadmat
import matplotlib.pyplot as plt
import sys
sys.path.append(r"C:\Users\yangshanqi\Documents\lab\labgithubcopy\task_1_version_2")

In [2]:
from kNN_function import kNN_feature_selection_wrap
from plot_prediction import kNN_plot_prediction

In [3]:
X_scaled=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\scaled_train_feature.csv")
y_scaled=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\train_label.csv")
X_scaled_CNN=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\X_scaled_CNN.csv")
y_scaled_CNN=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\y_scaled_CNN.csv")
X_val=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\scaled_validation_feature.csv")
y_val=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\validation_label.csv")
X_val=X_val.drop("Unnamed: 0",1)
y_val=y_val.drop("Unnamed: 0",1)

In [4]:
kNN_feature_selection_wrap_CNN_result=kNN_feature_selection_wrap (X_scaled_CNN,y_scaled_CNN,50)

TypeError: kNN_feature_selection_wrap() missing 2 required positional arguments: 'y_val' and 'k_value'

In [9]:
 df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])

In [16]:
df2=df1

In [18]:
res = [df2,df1]
df2 = pd.concat(res)

In [23]:
df2['feature']='hi'

In [24]:
df2

    A   B   C   D feature
0  A0  B0  C0  D0      hi
1  A1  B1  C1  D1      hi
2  A2  B2  C2  D2      hi
3  A3  B3  C3  D3      hi
0  A0  B0  C0  D0      hi
1  A1  B1  C1  D1      hi
2  A2  B2  C2  D2      hi
3  A3  B3  C3  D3      hi